/* HOMEPAGE */

#main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

#right {
  width: 500px;
  margin-top: 7%;
  margin-left: 10%;
  font-family: 'Helvetica Neue', sans-serif;
}

#right h1 {
  font-size: 50px;
  text-transform: uppercase;
}

#description p {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}

img {
  width: 700px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Helvetica Neue', sans-serif;
  margin-top: 40px;
}

.btn-1 {
  border: none;
  background-color: #bfbfc3;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  height: 50px;
  width: 150px;
}

.btn-1:hover {
  background-color: #fbb39c;
}

.btn-2 {
  border: none;
  background-color: #939396;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  height: 50px;
  width: 150px;
  margin-left: 10px;
}

.btn-2:hover {
  background-color: #fbb39c;
}

.btn-3 {
  border: none;
  background-color: #4a4a60;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  height: 50px;
  width: 150px;
  margin-left: 10px;
}

.btn-3:hover {
  background-color: #fbb39c;
}

/* PAGES */

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
}

.header-title {
  font-family: 'Helvetica Neue', sans-serif;
  color: #4a4a60;
  margin-left: 125px;
  font-weight: 500;
  font-size: 25px;
}

.header-nav {
  margin-left: 500px;
}

footer {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 150;
  font-size: 12px;
  margin-top:7%;
  margin-right: 20px;
  text-align: right;
}

/* WORK */

#work-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Helvetica Neue', sans-serif;
  margin-top: 50px;
  margin-left: 125px;
  width: 600px;
}


h2 {
  color: #434346;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 30px;
}

.position {
  color: #fbb39c;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

.work-desc {
  font-weight: 325;
  letter-spacing: 1px;
}

/* ABOUT */

#about-body {
  display: flex;
  flex-wrap: wrap;
  margin-left: 125px;
  font-family: 'Helvetica Neue', sans-serif;
}

#about-left {
  margin-top: 80px;
  margin-left: 80px;
}

#about-left img {
  width: 350px;
}

#about-right {
  margin-top: 50px;
  margin-left: 150px;
  width: 500px;
}

#about-title {
  color: #fbb39c;
  font-weight: bold;
  font-size: 50px;
}

.about-descr {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.about-descr a {
  color: #fbb39c;
  font-weight: 400;
  text-decoration: none;
}

ul {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.interests {
  color: #fbb39c;
  font-weight: bold;
}

/* RESUME */

#resume-body {
  margin-top: 60px;
  text-align: center;
}
